<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AdminLTE Dashboard{% endblock %}</title>
    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css"
      crossorigin="anonymous"
    >
    <!-- Styles -->
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
      <!-- Header -->
      {% include 'components/header.html.twig' %}
      
      <!-- Sidebar -->
      {% include 'components/sidebar.html.twig' %}
      
      <!-- Main -->
      <main class="app-main">
        <div class="container-fluid">
          {% block content %}
          <!-- Page-specific content goes here -->
          {% endblock %}
        </div>
      </main>

      <!-- Footer -->
      {% include 'components/footer.html.twig' %}
    </div>
    <!-- Scripts -->
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
