<nav class="app-header navbar navbar-expand bg-body">
  <div class="container-fluid">
    <!-- Start Navbar Links -->
    {% include 'components/navbar.html.twig' %}
    <!-- End Navbar Links -->
  </div>
</nav>
