<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
      <i class="bi bi-list"></i>
    </a>
  </li>
  <li class="nav-item d-none d-md-block"><a href="#" class="nav-link">Home</a></li>
  <li class="nav-item d-none d-md-block"><a href="#" class="nav-link">Contact</a></li>
</ul>
<ul class="navbar-nav ms-auto">
  <!-- Notifications -->
  <li class="nav-item dropdown">
    <a class="nav-link" data-bs-toggle="dropdown" href="#">
      <i class="bi bi-bell-fill"></i>
      <span class="navbar-badge badge text-bg-warning">15</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
      <span class="dropdown-item dropdown-header">15 Notifications</span>
      <a href="#" class="dropdown-item">
        <i class="bi bi-envelope me-2"></i> 4 new messages
      </a>
    </div>
  </li>
</ul>
